<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Powertrain_Task_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Powertrain_Task_Manager.My.MySettings.TestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Temp\PPBTest.ppf"
            providerName="System.Data.OleDb" />
        <add name="Powertrain_Task_Manager.My.MySettings.MasterConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source="
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Powertrain_Task_Manager.My.MySettings>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MemoryWarning" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MemoryFault" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PLCMemoryPercentToReserve" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConfigFile01" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConfigFile02" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConfigFile03" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConfigFile04" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTaskFile01" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTaskFile02" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTaskFile03" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTaskFile04" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalDescriptionFieldToUse" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PLCMemoryToReserveMWS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLCMemoryToReserveAWS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdministratorPassword" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="MaintenancePassword" serializeAs="String">
                <value>Maintenance</value>
            </setting>
            <setting name="OperatorPassword" serializeAs="String">
                <value>Operator</value>
            </setting>
            <setting name="L5XFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="L5XBaseFileName" serializeAs="String">
                <value>ProductionImport.L5X</value>
            </setting>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=</value>
            </setting>
            <setting name="DisableArchMgr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableProdTaskMgr" serializeAs="String">
                <value>False</value>
            </setting>
        </Powertrain_Task_Manager.My.MySettings>
    </userSettings>
</configuration>
